{% extends 'base.html' %}

{% block content %}
<h2 height="80" class="center">CRYPTOCURRENCY PRICES</h2>

<br>
<table class="table">
    <tr class="table-info">
        <th>Coinbase</th>
        <th>Gemini</th>
    </tr>
    <tr class="table-secondary">
        <td>BTC</td>
        <td>BTC</td>
    </tr>
    <tr>
        <td >Buying Price: {{coin_btc.buying_price}} </td>
        <td>Buying Price: {{gemini_btc.buying_price}} </td>
    </tr>
    <tr>
        <td>Selling Price: {{coin_btc.selling_price}}</td>
        <td>Selling Price: {{gemini_btc.selling_price}}</td>
    </tr>
    <tr class="table-secondary">
        <td class="gap">ETH</td>
        <td class="gap">ETH</td>
    </tr>
    <tr>
        <td>Buying Price: {{coin_eth.buying_price}} </td>
        <td>Buying Price: {{gemini_eth.buying_price}} </td>
    </tr>
    <tr>
        <td>Selling Price: {{coin_eth.selling_price}}</td>
        <td>Selling Price: {{gemini_eth.selling_price}}</td>
    </tr>
</table>
<h3 class="recomd">Recommended</h3>
<table class="table">
    <tr class="table-info">
        <td>BTC</td>
    </tr>
    <tr>
        {% if coin_btc.buying_price > gemini_btc.buying_price %}
            <td>Buy: ${{gemini_btc.buying_price}}&nbsp; &nbsp; &nbsp; Gemini</td>
    
        {% else %}
            <td>Buy: ${{coin_btc.buying_price}} &nbsp; &nbsp; &nbsp; Coinbase</td>
            
        {% endif %}
    </tr>       

<!-- for selling btc  -->
    <tr>
        {%if coin_btc.selling_price > gemini_btc.selling_price %}
            <td>Sell: ${{coin_btc.selling_price}}&nbsp; &nbsp; &nbsp; Coinbase</td>
        {% else %}
            <td>Sell: ${{gemini_btc.selling_price}} &nbsp; &nbsp; &nbsp; Gemini</td>
            
        {% endif %}
    </tr>

<!--  recommended for Buying eth -->
    <tr class="table-info">
        <td class="gap">ETH</td>
    </tr>
    <tr>
        {% if coin_eth.buying_price > gemini_eth.buying_price %}
            <td>Buy: ${{gemini_eth.buying_price}}&nbsp; &nbsp; &nbsp; Gemini</td>
    
        {% else %}
            <td>Buy: ${{coin_eth.buying_price}} &nbsp; &nbsp; &nbsp; Coinbase</td>
            
        {% endif %}
    </tr>       

<!-- recommended for selling eth  -->
    <tr>
        {%if coin_eth.selling_price > gemini_eth.selling_price %}
            <td>Sell: ${{coin_eth.selling_price}}&nbsp; &nbsp; &nbsp; Coinbase</td>
        {% else %}
            <td>Sell: ${{gemini_eth.selling_price}} &nbsp; &nbsp; &nbsp; Gemini</td>
            
        {% endif %}
    </tr>
</table>

{% endblock %}